/* Main Swiper */
.main-swiper .swiper-slide {
    transition: transform 0.3s ease;
    opacity: 0.7;
}

.main-swiper .swiper-slide-active {
    //transform: scale(1.1); /* Enlarges the main image */
    opacity: 1;
}

/* Thumbnails */
.thumb-swiper .swiper-slide {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.thumb-swiper .swiper-slide-thumb-active {
    opacity: 1;
    border: 2px solid #FFA500; /* Orange border */
    border-radius: 5px;
}
