@import 'variables';
@import "fonts.scss";
/*------------------------------------------*/
@mixin border-colorized( $position: right,$color: $color-e2,$percent1,$percent2) {
    background-image: linear-gradient(to $position, $color $percent1, rgba(255, 255, 255, 0) $percent2);
}
@mixin border-btm($brdW,$brdType,$color) {
    border-bottom: $brdW $brdType $color;
}

@mixin text-style-1($font-size: 17px, $line-spacing: 35px, $font-weight: normal) {
    font-size: $font-size;
    line-height: $line-spacing;
    font-weight: $font-weight;
}

@mixin radius($topR: 10px,$topL: 10px,$bottomR: 10px,$bottomL: 10px) {
    border-top-left-radius: $topL;
    border-top-right-radius: $topR;
    border-bottom-right-radius: $bottomR;
    border-bottom-left-radius: $bottomL;
}
@mixin position-btn($top: auto, $bottom: auto, $right: auto, $left: auto) {
    top: $top;
    bottom: $bottom;
    right: $right;
    left: $left;
}

.item-color {
    > div {
        max-height: 130px;
        background: linear-gradient( 140deg, #F8F8F8 0%, #E6E6E6 100%) 0% 0% no-repeat;
        @include radius(10px,10px,10px,10px);
        }
}
/*------------ END OF @MIXIN--------------------*/
body{
    font-family:$BeVietnam;
    font-size: clamp(12px, 2vw, 16px);
}

/* ------------------*/
/*-----END OF SIDEBAR STYLE-----*/
    .nav-link {
        @include text-style-1($font-size-17,$line-spacing-35,$font-weight-normal);
        @include radius(10px,10px,10px,10px);

        &.active {
            background-color: $color-yellow;
        }
    }



/*-----END OF FILTER BUTTIN------*/
.page-link {
    width: 35px;
    height: 35px;
    border: none;
    color: $color-black;
    background: $color-gray20;
    @include radius(10px,10px,10px,10px);
}
.page-item.active .page-link {
        background-color: $color-yellow;
        border-color: $color-yellow;
    }

/*-----END OF PAGINATION--------*/
.btn-box{
    button:hover {
       svg{
           color:$color-yellow !important;
       }
    }
}

ul {
    list-style: none;
}

.bg-f5 {
    background: $color-gray20;
}

.bg-darkBlue {
    background: $color-bluedark url(../image/bg-transparent.png) no-repeat top center;
}

.text-f5 {
    color: $color-gray20;
}

.bg-e0 {
    background: $color-gray40;
}

.bg-yellow-light {
    background: $color-yellow-light;
}

.text-9e {
    color: $color-gray80;
}

.text-yellow {
    color: $color-yellow;
}

.text-orange {
    color: $color-orange;
}

.text-green {
    color: $color-green;
}
.text-gray20{
    color:$color-gray40;
}

.border {
    &--yellow {
        border-color: $color-yellow !important;
    }

    &--gray20 {
        border-color: $color-gray20 !important;
    }

    &--gray40 {
        border-color: $color-gray40 !important;
    }

    &--gray60 {
        border-color: $color-gray60 !important;
    }
}

.w-max {
    width: max-content;
}

input::placeholder {
    color: $color-gray60;
}

.transparentBg {
    background: url(../image/sliderBg.png) no-repeat center center;
    background-size: 100% 100%;
}

.transparentBg2 {
    background: url(../image/sliderBg.png) no-repeat center bottom;
    background-size: 100% auto;
}

.menuIconXs{
    display:none;
}

/*-----------------END OF PUBLIC STYLES------------------------*/
.style-15-lh35-n {
    @include text-style-1($font-size-15,$line-spacing-35,$font-weight-normal);

    &.--black {
        color: $color-black;
    }

    &.--black-b {
        color: $color-black;
        font-weight: $font-weight-600 !important;
    }

    &.--gray80 {
        color: $color-gray80;
    }
}

.style-17-lh35 {
    @include text-style-1($font-size-17,$line-spacing-35,$font-weight-normal);

    &.--gray {
        color: $color-gray50;
    }

    &.--white {
        color: $color-white;
    }

    &.--black {
        color: $color-black;
    }

    &.--gray80 {
        color: $color-gray80;
    }

    &.--bold {
        font-weight: $font-weight-600;
    }
}

.style-17-lh26 {
    &.--gray {
        color: $color-gray;
    }

    &.--gray80 {
        color: $color-gray80;
    }

    &.--black {
        color: $color-e2;
    }
}

.style-17-lh10 {
    @include text-style-1($font-size-17,10px,$font-weight-normal);
    color: $color-gray80;
}

.style-20-black-600 {
    @include text-style-1($font-size-20,$line-spacing-35,$font-weight-600);
    color: $color-black;
}

.style-20 {
    @include text-style-1($font-size-20,$line-spacing-30,$font-weight-normal);        
}

.style-20-white-bold {
    @include text-style-1($font-size-20,$line-spacing-30,$font-weight-bold);
    color: $color-white;
}

.style-26-lh39 {
    @include text-style-1($font-size-26,$line-spacing-39,$font-weight-600);

    &.--yellow {
        color: $color-yellow;
    }

    &.--black {
        color: $color-black;
    }
}

.style-28 {
    @include text-style-1($font-size-28,$line-spacing-42,$font-weight-600);
    color: $color-black;
}

.style-30 {
    @include text-style-1($font-size-30,$line-spacing-45,$font-weight-600);
    color: $color-black,;
}

.style-42 {
    @include text-style-1($font-size-42,$line-spacing-63,$font-weight-900);
    color: $color-black;
}
/*--------------------END OF TEXT STYLE--------------------*/

        .swipereight{
        &.pt-3 {
            margin-top: 1.8rem;
        }

        &.m-top {
            margin-top: -.5em;
        }

        &.mt5 {
            margin-top: 4rem;
        }

        &.mt--5 {
            margin-top: -1.5em;
        }

    }

.twoBoxOwl .owl-item {
    width: 230px !important;
}
/*--------------END OF CAROUSEL STYLE---------------*/
.iconSvg {
    fill: none;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-width: 2px;

    &.svgSearch {
        stroke: #fff;
    }

    &.bold {
        stroke-width: 4px;
    }

    &.svg-small {
        width: 13px;
        margin-left: 5px;
    }

    &.text-dark {
        color: $color-black;
        stroke: $color-black;
    }

    &.semi-black {
        color: $color-semi-black;
    }

    &.--yellow {
        stroke: $color-yellow;
    }

    &.--gray {
        stroke: $color-gray80;
    }

    &.--green {
        color: $color-green;
    }
    &.--op50{
        opacity:.5;
    }
}

.bg-iconSvg {
    z-index: 1;
    background: #ffffff91;
    @include radius(5px,5px,5px,5px);
    padding: 6px;

    &.svg-tag {
        padding: 4px 5px;
        //@include position-btn(10px,auto,10px,auto);
        position: absolute;
        top:10px;
        right: auto;
        bottom: 10px;
        left: auto;

        .iconSvg {
            color: $color-gray80;
            stroke-width: 1px;
        }
    }

    &.svg-view {
        @include position-btn(10px,0,10px,0);
        padding: 32px 29px !important;
        max-width: 90px;
        max-height: 90px;

    .iconSvg {
        color: #fff;
        stroke-width: 1px;
    }
}
}
/*---------------END OF SVG ICON STYLE------------------*/
.flex-1 {
    flex: 95%;
}

.logo {
    max-width: 235px;
    width: 28%;
}

.searchBox {
    max-width: 710px;
    height: 70px;
    width: 100%;
    border-width: 2px !important;
    @include radius(10px,10px,10px,10px);

    > div {
        direction: ltr;
    }
}

.headerBtn {
    width: 192px;
    height: 70px;

    &:hover {
        color: $color-yellow !important;
        border-color: $color-yellow !important;

        svg {
            color: $color-yellow !important;
        }
    }

    span {
        top: -18px;
        right: -7px;
        background: $color-yellow;
        color: $color-white;
        padding: 4px 10px;
    }
}

.tag {
    position: absolute;
    right: 0;
    top: 0;
}

/*----------------END OF HEADER STYLE------------------*/
.dropdown-toggle {
    background: url(../svg/Icon-feather-chevron-up.svg) no-repeat left center;
    padding: 0 20px 0 20px;

    &.searchDrp {
        background-position-x: calc(100% - 116px);
        padding: 0 1.2rem 0 2rem !important;
    }
}
.dropdown-toggle::after{
    display: none !important;
}
.border-dashed-full {
    border: 2px dashed $color-gray40;
}

.border-btm {
    &.--grayBorder {
        @include border-btm(1px,solid,$color-gray40);
    }

    &.--yellowBorder {
        @include border-btm(3px,solid,$color-yellow);
    }
}

.border-dashed {
    &.bottom {
        background-position: bottom;
    }

    &.repeated-x {
        background-repeat: repeat-x;

        &.bold {
            background-size: 18px 2px;
        }

        &.normal {
            background-size: 20px 1px;
        }

        &.yellow {
            @include border-colorized(right,$color-yellow,50%,0);
        }

        &.gray {
            @include border-colorized(right,$color-e2,50%,0);
        }
    }

    &.repeated-y {
        @include border-colorized(bottom,$color-gray,50%,0);
        background-repeat: repeat-y;

        &.normal {
            background-size: 2px 20px;
        }
    }
}
    .newsletter {
        background: $color-yellow url('../image/bg-transparent.png') center center;
        background-size: 100% auto;
        padding: 3.15rem 1.5rem;
        position: relative;
        top: 25px;
        @include radius(10px,10px,10px,10px);
    }

    footer {
        background: $color-black;

        a:hover {
            color: #fff !important;
        }

        .footerColumn {
            > div:nth-child(1),
            > div:nth-child(2) {
                max-width: 37%;
            }
        }
    }

    .socials {
        a {
            padding: 20px;
            height: 70px;
            @include radius(10px,10px,10px,10px);
            background-color: #ffffff24;

            &:hover {
                background: #ddd;
            }
        }
    }

    .namad {
        background: #fff;
        width: 120px;
        height: 120px;
        @include radius(10px,10px,10px,10px);
    }

    .underFooter {
        background: #000;
        padding: 17px 0;
    }
    /*------------------------------------------------------------------*/
    .activate {
        background: $color-yellow;
    }

    .toggle-text {
        height: 200px;
        @include radius(10px,10px,10px,10px);
    }

    .toggle-text:before {
        content: '';
        position: absolute;
        background: linear-gradient( 4deg, white, transparent);
        width: 100%;
        height: 30px;
        bottom: 0;
        right: 0;
    }

    .showMenu {
        -webkit-transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
    }

    .hideMenu {
        -webkit-transform: translate(110%, 0%);
        -ms-transform: translate(110%, 0%);
        transform: translate(110%, 0%);
    }
    /*--------modal-------------------*/
    .modal-login {
        width: 520px;
        max-width: 90%;
    }
    /*-------------homePage cat --------*/
    .cat-img {
        border-radius: 5px;
        height: 95%;

        &.shoes-cat {
            background: linear-gradient(87deg,#fdd2ae,#ffdabd);
        }

        &.bag-cat {
            background: linear-gradient(87deg,#ffc0ac,#ffcab9);
        }
    }
    /*----------product page-----------*/
    .btn-check:checked + .lblSize {
        color: $color-yellow;
        border-color: $color-yellow;
    }

    .fix-ribbon {
        transition: all 1s ease-in-out;
        background: $color-yellow-light;
        height: 110px;
        display: flex;
        align-items: center;

        .ribbon-gallery img {
            width: 50px;
        }
    }

    .sticky {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 99999;
    }

    #thumbs {
        .current img {
            opacity: 1 !important;
        }

        img {
            opacity: .3;
        }
    }
/*---------------------dashboard-----------*/
.user-img {
    width: 105px;
    height: 105px;
    top: -30px;
}

.custom-alert{
    background:$color-yellow-light;
    @include radius(10px,10px,10px,10px);
}
.uplodedImg{
    img{
        width:70px;
        height:70px;
    }
}
.infoImg{
    width:80px;
    height:80px;
}
/*--------------------------RESPONSIVE------------------------------*/
@media(max-width:1200px) {

    .filter-area-btn {
        z-index: 1;
    }

    .orderItem {
        > div:not(:nth-child(2n)) {
            border-left: 1px solid #ddd !important;
        }

        > div:not(:nth-child(3n+3)) {
            border-left: none;
        }
    }
}
/*--------------END OF 1200---------------*/
@media(max-width:1024px) {

    .twoBoxOwl .owl-item {
        width: auto !important;
    }

    .style-30 {
        font-size: 1.3rem;
    }

    .headerBtnParent {
        position: absolute;
        top: 0;
        left: 20px;

        .headerBtn {
            height: auto;
            font-size: 0 !important;
            width: auto;
            border: none !important;
            padding: 0 !important;
        }

        .headerBtn span {
            top: 0;
            right: 23px;
            padding: 0px 5px;
        }
    }

    .searchBox {
        width: 88%;
    }

    footer .footerColumn {
        flex-wrap: wrap;
    }

    footer .border-dashed {
        background-image: none !important;
        max-width: none !important;
        flex: 1 1 auto !important;
        padding: 0 !important;
    }

    .facilities {
        padding: 0px 0 120px;

        > div {
            width: 50%;
            flex-direction: column;
            align-content: center;

            > div {
                text-align: center;
            }
        }

        img {
            width: 40px;
        }
    }

    .newsletter .style-17-lh35 {
        width: 100%;
    }

    .fix-ribbon {
        button, span.--yellow {
            height: 50px;
        }
    }
}
/*--------------END OF 1024---------------*/
@media(max-width:751px) {
    body * {
       // font-size: 15px !important;
        line-height: 30px;
    }

    .breadcrumb > * {
        font-size: .9rem !important;
        padding: 0 2px !important;
    }

    .cat-img {
        &.shoes-cat, &.bag-cat {
            height: 94%;
        }
    }

    input.form-control-sm {
        font-size: 0.675rem;
    }

    .pageTitle {
        display: none;
    }

    .h-xs {
        display: block;
    }
    
    
    .owl3Box {

        .style-20-black-600 {
            font-size: 1rem;
        }

        .public-btn {
            height: 35px;
            padding: 5px;

            &.--yellow-color {
                font-size: .9em;
            }
        }

      
    }

    .newsletter {
        padding: 0.5rem .5rem;
        top: 0;
    }

    .searchBox {
        height: 45px;
        max-width: 100%;
        width: 100%;
        flex: auto;

        // .dropdown-toggle.searchDrp {
        //     background-position-x: calc(100% - 5px);
        //     padding: 0 .4rem 0 1rem !important;
            
        // }
    }

    .facilities {
        padding: 0 0 75px;

        > div {
            text-align: center;
        }

        padding: 0 0 70px;
    }

    .socials a {
        padding: 20px 17px;
        height: 60px;
    }

    .iconSvg.svgSearch {
        width: 15px;
    }

    .list {
        > div {
            padding-left: 0 !important
        }
    }

    .stopSticky {
        #big {
            img {
                height: 250px;
            }
        }

        .carousel_nav.productCarousel {
            width: 236px;
        }
    }

    .fix-ribbon {
        button, span.--yellow {
            flex: 1;
        }
    }

    .h-70 {
        height: 40px;
    }

    .captcha-img {
        height: 30px;
    }

    .public-btn {
        height: 40px;
        line-height: 14px !important;

        .owl-item & {
            height: 70px;
        }
    }

    .orderItem {
        border:none !important;
        >div:not(:nth-child(2n)), >div:not(:nth-child(3n+3)) {
            border-left: none !important;
        }
    }
}
   

